<% if (video['subscription_required'] === true) %>
  <% if session[:current_user_access_token] %>
    <div id="zype_<%= video['_id'] %>"></div><script src="https://player.zype.com/embed/<%= video['_id'] %>.js?autoplay=true&access_token=<%= session[:current_user_access_token] %>" type="text/javascript"></script>
  <% else %>
    <h2>Subscription Required. Please Sign In or Subscribe</h2>
    <%= render :partial => 'sessions/new' %>
  <% end %>
<% else %>
  <div id="zype_<%= video['_id'] %>"></div><script src="https://player.zype.com/embed/<%= video['_id'] %>.js?autoplay=true&app_key=<%= ENV['zype_app_key'] %>" type="text/javascript"></script>
<% end %>
