<div>
  <%= link_to "Go Back", root_path %>
</div>

<br>

<label for="Title"> Title: </label>
<%= @video['title'] %>
<br>
<label for="Thumbnail"> Image: </label>
<%= image_tag(@video['thumbnails'][1]['url']) %>
<br>
<label for="Description"> Description: </label>
<%= @video['description'] %>
<br>

<%= render partial: 'video', locals: { video: @video} %>
